<!DOCTYPE html>
<html>
<head>
  <title>Moviesapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
	<%= image_tag("sad-face1.jpg", :size => "100x50") %>
	<%= @page_title || "Movies Lads!" %>
</div>

<div id="nav">
    <ul>
		<% if !signed_in? %>
			<li><%= link_to "Sign In", signin_path %></li>
		<% else %>
			<li>Signed in as <%= @current_user.name %></li>
			<li><%= link_to "Sign Out", signout_path %></li>
			
		<%end %>	
		  <li><%= link_to "Questions"%></li>
		  <li><%= link_to "Movie News", 'http://oscar.go.com/nominees' %></li>
		  <li><%= mail_to "paul.castles@mydit.ie", "Contact us" %></li>	
		  <li><%= link_to "Movies", movies_path%></li>
    </ul>
</div>

<%= yield %>
<p id="notice"><%= notice %></p>
<h3>This is a website for DT354/3</h3>


</body>
</html>
